#root {

  margin: 0 auto;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav_container {
  background-color: #EBF5EE;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.outlet_container {
  padding: 2em
}
