.photos_api_image {
    max-width: 80vw;
    max-height: 80vh
}
ul {
    list-style: none;
    padding: 0;
    /* margin: 0; */
    text-decoration: none;
}
.pages {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.page {
    display: flex;
    padding: 0px 40px;
    transition: background-color 0.3s ease;
    border-radius: 40px;
}

.page:hover {
    background-color: #a6ca18;
}

.cur_page {
    background-color: #a6ca18;
}
.footer_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}