.user_card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.a_card{
    margin: 10px ;
    padding: 1rem;
    width: 500px;
    height: 400px;
    max-width: 500px;
    border: 3px solid #ccc;
    text-align: center;
    /* position: relative; */
}

.a_card :hover {
    transform: scale(1.05);
    border: none;
    color:cadetblue;
    transition: transform 0.3s ease-in-out;
}

.user_card_title {
    text-align: center;
}