* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  

li a {
   
    color: green

}


li a :hover {
    color: black
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.container__content {
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(26, 126, 213);
    border-radius: 30px;
    align-items: center;
    padding: 20px;
    background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://opengameart.org/sites/default/files/2304x1296.png');
   
    background-size: contain;
}



