#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  padding: 2em;
}

.container {
  width: 700px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
}

.input_adding_todo {
  width: 100%;
}

.todo {
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 1em;
  font-size: 14px;
  gap: 8px;
}


.todo_list {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: flex-start; 
}

.todo_item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  /* width: min(100%, 700px); */
  width: 707px;
  margin: 0 auto;
  margin-bottom: 0.7em;
}


.buttons_todo_item {
  margin-left: auto;
}

.buttons_todo_item > button{
  border-radius: 0px;
}

.buttons_todo_item > button:hover {
  animation: hoveranim 0.5s cubic-bezier(0.44, 0, 0.45, 1.02) forwards;
}

@keyframes hoveranim {
  0% { background-color: black; color: white; }
  100% { background-color: white; color: black; }
}

.todo_checkbox_item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;

}

.error_message {
  color: red;
  font-size: 1.3em;
}

.priority_style_1 {
  background-color: red;
}
.priority_style_2 {
  background-color: rgb(225, 140, 20);
}
.priority_style_3 {
  background-color: rgb(0, 145, 255);
}
.priority_style_4 {
  background-color: rgb(164, 211, 63);
}
.priority_style_5 {
  background-color: rgb(26, 194, 4);
}


